server:
  network: bitcoin
  storage: postgres
  interface:
    - electrum

postgres:
  url: postgres://username:password@localhost/database

redis:
  port: 6379
  host: localhost
  password: null

electrum:
  banner: Welcome to Electrum!
  donationAddress:
  irc:
    active: no
    nick: <yournickname>
    reportHost: <yourhostname>
  transport:
    -
      type: tcp
      host: localhost
      port: 50001

bitcoind:
  host: localhost
  port: 8332
  user: bitcoinrpc
  password: 11111
