server:
  network: bitcoin
  storage: postgres
  interface:
    - electrum

mongo:
  url: mongodb://127.0.0.1:27017/database

postgres:
  url: postgres://username:password@localhost/database

electrum:
  banner: Welcome to Electrum!
  donationAddress:
  irc:
    active: no
    nick: <yournickname>
    reportHost: <yourhostname>
  transport:
    -
      type: tcp
      host: localhost
      port: 50001
    -
      type: ws
      host: localhost
      port: 8783

bitcoind:
  host: localhost
  port: 8332
  user: bitcoinrpc
  password: 11111
